<div class="index">
<div class="section group">
  <div class="col span_2_of_12">
  </div>
  <div class="col span_1_of_12">
    <center><h4>Section</h4></center>
  </div>
  <div class="col span_6_of_12">
    <center><h4>Statistics</h4></center>
  </div>
  <div class="col span_1_of_12">
    <center><h4>Feed</h4></center>
  </div>
  <div class="col span_2_of_12">
  </div>
</div>

<% @sections.each do |section| %>
  <div id="container">
    <div class="section group">
      <div class="col span_4_of_12">
        <h1><%= link_to "#{section.name}", '/sections/'+section.id.to_s %></h1>
        <h4><%= section.description %></h4>
      </div>
      <div class="col span_4_of_12">
        <center>
          <h4>Topics: <%= section.topics.count %></h4>
          <h4>Posts: <%= section.total_posts %></h4>
        </center>
      </div>
      <div class="col span_4_of_12">
      </div>
        <% if section.last_post && section.last_post.class == Post %>
          <div id="lastpost">
            <% if section.last_post %>
              <h4><%= link_to "Last Post", "/sections/topics/"+section.last_post.topic.id.to_s %></h4>
              <h1><%= section.last_post.created_at.strftime("%H:%M") %></h1>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>
  <%# need refactor %>
<% end %>
</div>
