<center>
  <h1>Pending Reports</h1>
  <h1><%= "*"*50 %></h1>
</center>
<%= render 'admin_reports' %>
<center>
  <h1>Turn admin</h1>
  <h1><%= "*"*50 %></h1>
</center>
<%= render 'admin_users' %>
<center>
  <h1>Sections</h1>
  <h1><%= "*"*50 %></h1>
</center>
<%= render 'admin_sections' %>
