<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
<nav>
  <ul class="nav navbar-nav navbar-fixed-top navbar-center">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Help', help_path %></li>
      <% if signed_in? %>
        <li><%= link_to 'Members', users_path %></li>
        <li><%= link_to 'Profile', current_user %></li>
        <li><%= link_to 'Settings', edit_profile_path %></li>
        <li><%= link_to 'Sign out', signout_path, method: "delete" %></li>
        <% unless !current_user.admin %>
          <li><%= link_to "Admin Panel", admin_panel_path %></li>
        <% end %>
      <% else %>
        <li><%= link_to 'Sign Up', signup_path %></li>
        <li><%= link_to 'Sign In', signin_path %></li>
      <% end %>
    </ul>
  </ul>
</nav>
</div>
<div class="col-md-4">
</div>
</div>






<!-- <div id="container">
  <h1>
    <ul>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
      <%= link_to 'Help', help_path %>
      <% if signed_in? %>
        <%= link_to 'Members', users_path %>
        <%= link_to 'Profile', current_user %>
        <%= link_to 'Settings', edit_profile_path %>
        <%= link_to 'Sign out', signout_path, method: "delete" %>
        <% if current_user.admin %>
          <%= link_to "Admin Panel", admin_panel_path %>
        <% end %>
      <% else %>
        <%= link_to 'Sign Up', signup_path %>
        <%= link_to 'Sign In', signin_path %>
      <% end %>
    </ul>
  </h1>
</div> -->
