<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render '/layouts/header' %>
<% unless flash.empty? %>
  <div id="container">
    <% flash.each do |key, value| %>
      <h1><div class="alert alert-<%= key %>"><%= value %></div></h1>
    <% end %>
  </div>
<% end %>
<br><br>
<div id="firstlevel">
  <%= yield %>
</div>
<br><br><br><br><br><br><br><br>
</body>
</html>
